header {
    background-color: #006600;
    color: white;
    padding: 20px;
    text-align: center;
    /* position: fixed; */
    width: 100%;
    /* margin-bottom: 20%; */
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 0%;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #111;
}

footer {
    background-color: #006600;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.main{
    display:flex;
    flex-direction: column;
    /* margin-top: 10%; */
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
}